#parse("/velocity/layout.vm")
#@mainLayout()
    #if($reserva)
    <h1>$reserva.getId_reserva()</h1>
    <h2>$reserva.getLocalidad()</h2>
    <div class="Reserva">
        <div class="ConsultarReserva">
            <img src="$book.getLargeCover()" alt="$book.getTitle()">
        </div>
    </div>
    #else
    <h1>$msg.get("RESERVA_NO_ENCONTRADA")</h1>
    #end
#end
