#parse("/velocity/layout.vm")
#@mainLayout()
    #if($reserva)
    <h1>$reserva.getId_reserva()</h1>
    <div class="Reserva">
        <div class="EliminarReserva">
            <h1>$msg.get("reserva.getId_reserva()")</h1>
            <h1>$msg.get("Reserva_Eliminada")</h1>
        </div>
    </div>
    #else
    <h1>$msg.get("RESERVA_NO_ENCONTRADA")</h1>
    #end
#end
